* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#wrap {
    display: block;
    height: 500px;
    width: 500px;
    border: cadetblue;
    border-style: dashed;
    margin-left: 30%;
}

h1 {
    color: cadetblue;
    text-align: center;
    margin-top:10% ;
    font-size: 40px;
}

p {
    padding-top: 3%;
    font-size: 20px;
}

#startbtn {
    margin-left: 47%;
    height: 50px;
    width:75px;
    color: cadetblue;
    font-size: 20px;
}

#questions {
    text-align: center;
    display: block;
    font-size: 30px;

}

#choices {
    display: block;
    height: 30px;
    width: 200px;
    padding-left: 42%;
    padding-top: 2%;
}

button {
    height: 100px;
    width: 250px;
}

#currentTime {
    display: flex;
    float: right;
    padding: 5px;
}

#scoreEl {
    height: 40px;
    width: 40px;
    background-color: cadetblue;
}

#initials {
    height: 93px;
    width: 242px;
    font-size: 20px;
}

#scorelist {
    padding-left: 41%;
    font-size: 45px;
    color: cadetblue;
}

#end {
    padding-left: 30%;
    color: cadetblue;
    
}

#score {
    padding-right: 50%;
    font-size: 30px;
}
